@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

.home {
  background: #BEAD8E;
}

nav {
  height: 70px;
  width: 100vw;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .menu {
  margin-left: 10px;
}
nav .navbar--container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav .navbar--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  margin-right: 13px;
}
nav .navbar--header .logo {
  background: #FFFFFF;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
  height: 36px;
  width: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav .navbar--header .navbar--title {
  margin-left: 13px;
}
nav .navbar--icons {
  width: auto;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .navbar--icons .group {
  margin-right: 24px;
}

header {
  background: #333333;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 75px 0 75px 20px;
}
header p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
  color: #FFFFFF;
  text-transform: uppercase;
}
header h1 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #FFFFFF;
  margin: 40px 0;
  text-transform: capitalize;
}
header .header--btn {
  height: 60px;
  width: 217px;
  background: #BEAD8E;
  border: none;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #FFFFFF;
}
header .btn--dark {
  margin-top: 24px;
  background: #333333;
  border: 2px solid rgba(255, 255, 255, 0.33);
}

.arrival {
  background: #222222;
  height: auto;
  padding: 36px 0 36px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.arrival h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.arrival input {
  margin-bottom: 30px;
  padding: 14px 0;
  background: none;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  color: #686868;
  width: 90%;
}
.arrival input[type=date]::-webkit-calendar-picker-indicator, .arrival input[type=time]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: #BEAD8E;
  filter: invert(0.9);
}
.arrival button {
  width: 250px;
  height: 60px;
  margin-top: 12px;
  background: #BEAD8E;
  border: none;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about {
  margin-top: 60px;
  background: #F9F9F9;
}
.about .about--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
}
.about .about--container h3 {
  margin-top: 38px;
  margin-bottom: 32px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
}
.about .about--container h1 {
  width: 100%;
  margin-bottom: 16px;
  padding-right: 20px;
  text-transform: capitalize;
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #111111;
}
.about .about--container p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 24px;
}
.about .about--container button {
  background: #BEAD8E;
  border: none;
  width: 216px;
  height: 60px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 45px;
}

.about--items .about--img {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.about--items .about--img div {
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.about--items .about--img div .team {
  width: 68px;
  height: 50px;
  margin-top: 54px;
}
.about--items .about--img div h2 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  color: #111111;
  margin-top: 29px;
  margin-bottom: 21px;
  text-transform: capitalize;
}
.about--items .about--img div p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #111111;
}
.about--items .about--img .img {
  width: 100%;
  height: 80%;
}
.about--items .about--img .about--dark {
  padding: 0;
  background: #222222;
  padding-bottom: 30px;
}
.about--items .about--img .about--dark h2, .about--items .about--img .about--dark p {
  color: #FFFFFF;
}

.rooms {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rooms h4 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 24px;
}
.rooms h1 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -1.2px;
  color: #222222;
  margin-bottom: 24px;
}
.rooms .room--icons {
  height: 40px;
  width: 256px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.rooms .room--icons img {
  width: 12px;
  height: 8.18px;
}
.rooms h3 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.2px;
  color: #222222;
  margin: 12px 0;
}
.rooms p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #777777;
  margin-bottom: 12px;
}
.rooms .room--price {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #BEAD8E;
}
.rooms .room--price span {
  font-size: 14px;
  line-height: 24px;
}

.video {
  margin-top: 49px;
  background: #222222;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  padding-top: 64px;
}
.video h3 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #BDAC8D;
  margin-bottom: 32px;
}
.video h1 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.video p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #C2C2C2;
  margin-bottom: 32px;
}
.video button {
  width: 216px;
  height: 60px;
  background: #BDAC8D;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  margin-bottom: 48px;
}

.facilities {
  border: 1px solid red;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.facilities h3 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
}
.facilities h1 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #222222;
  margin-top: 24px;
}

.foods {
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.foods .food--icon {
  float: right;
}
.foods h3 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
  margin-top: 120px;
  margin-bottom: 24px;
}
.foods h1 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #222222;
  text-transform: capitalize;
  margin-bottom: 36px;
}
.foods .food--container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  width: 100%;
  height: 150px;
}
.foods .food--container .img--container {
  width: 120%;
}
.foods .food--container .img {
  width: 100%;
  height: 100%;
}
.foods .food--container .food--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.foods .food--title {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.72px;
  color: #222222;
  padding-left: 20px;
  margin-bottom: 10px;
}
.foods .food--subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #222222;
  padding-left: 20px;
}
.foods .food--arrows {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 36px;
}
.foods .food--arrows .arrow {
  width: 36px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.foods .food--arrows .arrow--back {
  background: #F8F8F8;
  margin-right: 16px;
}
.foods .food--arrows .arrow--next {
  background: #BEAD8E;
  color: #ffffff;
  box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.15);
}

.numbers {
  margin-top: 91px;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222222;
}
.numbers div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.numbers h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 136.4%;
  text-align: center;
  color: #FFFFFF;
}
.numbers h5 {
  color: #BEAD8E;
  text-transform: capitalize;
}
.numbers .numbers--description {
  margin-bottom: 60px;
}

footer {
  margin-top: 60px;
  padding-left: 22px;
  background-size: cover;
}
footer .footer--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
footer .footer--header div {
  width: 80px;
  height: 80px;
  background: #BEAD8E;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.15);
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 28px;
}
footer p {
  margin-top: 47px;
  font-family: "Archivo";
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  line-height: 149%;
  vertical-align: top;
  color: #777777;
}
footer .footer--icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}
footer .footer--icons img {
  width: 24px;
  height: 24px;
}
footer .footer--services h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  color: #777777;
  margin-top: 40px;
}
footer .footer--services div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
footer .footer--services div h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  color: #777777;
  margin-right: 10px;
}
footer .footer--contact {
  margin-top: 32px;
}
footer .footer--contact h3 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
  text-transform: capitalize;
  margin-bottom: 34px;
}
footer .footer--contact .footer--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}
footer .footer--contact .footer--container img {
  width: 40px;
  height: 40px;
  margin-right: 22px;
}
footer .footer--contact .footer--container .footer--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
footer .footer--contact .footer--container .footer--info h4 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #777777;
}
footer .footer--contact .footer--container .footer--info h6 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #777777;
}

.footer--copyright {
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 16px;
  background: #F8F8F8 !important;
}
.footer--copyright h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.48px;
  color: #222222;
  margin-top: 16px;
  margin-bottom: 24px;
}
.footer--copyright h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.48px;
  color: #222222;
  margin-bottom: 16px;
}/*# sourceMappingURL=style.css.map */