.amenities {
    border: 1px solid red;
    margin-top: 60px;
    padding: 20px;

    h2 {
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: #222222;
        margin-bottom: 50px;
    }

    .amenities--container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 16px;
            margin-bottom: 16px;

            h5 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: $secondary;
                margin-left: 8px;
            }
        }
    }
}